.body{
    /*
        display: flex;        
        flex-wrap: wrap;
        gap: 4rem;*/
          padding: 6rem; 
            justify-content: space-between;
            display: grid;
            grid-template-columns: 2fr 2fr;
            gap: 10rem;
    
}

.signupCard{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*
.login {
    width:50%;
    display:inline-table;
    align-content: flex-start;
    padding:2rem;
    border-right: 2px solid black;
}
.signup {
    width:50%;
    height: 100vh;
    display: inline-table;
    padding: 2rem;
    align-items: center;
}
.login form, .signup form{
    justify-self: center;
    padding: 0 10rem;
}
.login h1, .signup h1{
    justify-self: center;
    text-align: center;
    padding: 0 6rem;
}
*/