@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
 font-family: "Ubuntu";
}
.profileImage
{
    height:250px;
    width:250px;
    border-radius: 50%;
    border: 1px solid;
    overflow: hidden;
    margin-left: 19%;
}
th
{
    font-size: 30px;
}


.layout{
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    flex-wrap: wrap;
    gap: 4rem;
}

.rightbar{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.activityRow{
    margin-top: 0.5rem;
    display: flex;                  
  flex-direction: row;            
  flex-wrap: nowrap;       
    border: 2px solid #b68973;
     padding:0.6rem 1rem;       
  justify-content: space-between;
  border-radius: 0.5rem;
  
}
.activityRow:first-child{
    padding: 1rem 1rem;
    border-top: 0;
    border-left: 0;
    border-right:0;
    border-bottom:2px solid;
}
.activityRow:last-child{
    margin-bottom: 0.5rem;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    margin:0;
    margin-right: 0;
    border: 0;
    width: 100%;
}
.column
{
    height: 40rem;
    border-right: 2px solid #000000
}
.column:last-child
{
    border:none
}
#profile{
    margin:2rem 0;
    height:8rem;
    width:8rem;
    border-radius:8rem;
    display: inline;
}

.icons{
    width:2.5rem;
    margin-left: 2rem;
     height:2rem; 
}
hr{
    height: 2rem;
}
 #name{
    margin-top:0.2rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
 } 
 #designation
 {
    font-size: 1rem;
    font-weight: 300;
    margin-left: 0.5rem;

 }
 #phone, #email{
     margin-top:0.6rem;
     margin-left: 1rem;
     font-size: 1rem;
     display: inline;
 }
 .col-title{
     font-size: 2rem;
     font-weight: bold;
     margin: 2rem 0;
     
 }*/

 